$theme-color: (
    pmr: #34495E,
    basic: #8B95A1,
    available: #11787A,
    level5: #11787A,
    level6: #20C9BA,
    level7: #5C7CFA,
    level8: #E67E22,
    level9: #FF3D00,
    unavailable: #D4D6D7,
    danger: #E67E22,
    bgc: #FAFAFA,
    white: #fff,
);

$header-height: (
    basic: 60px,
    mobile: 50px,
);